.container{
    /* margin-left: 300px;
    margin-right: 300px; */
    margin: auto;
    width: 80%;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    
}

.barra{
    background-color: #5FD068;
    padding: 10px;
    margin-top: 20px;
}

.barrita{
    background-color: #FF4949;
    padding: 10px;
}

table{
    width: 100%;
}
  
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
  
th, td {
    padding: 10px;
    text-align: center;
}
  
th{
    text-align: center;
}

.espacio{
    padding-left: 50px;
}
